[package]
name = "coreos-diskimage-rehydrator"
version = "0.1.0"
authors = ["Colin Walters <walters@verbum.org>"]
repository = "https://github.com/cgwalters/coreos-diskimage-rehydrator"
edition = "2018"
readme = "README.md"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = "1.0"
clap = "2.33.3"
crc32fast = "1.2.1"
indicatif = "0.15.0"
memmap2 = "0.2.2"
structopt = "0.3.21"
tracing = "0.1"
tracing-subscriber = "0.2.17"